.Title1 {

   
    text-align: center;
    margin-top: 3%;

}

.title1--contenido{
    padding-top: 35px;
    
}

.title1--cuerpo{
    width: 80%;
    padding-top: 5%;
    text-align: justify;
    margin: auto;
   
}

.home {
   
    background-color: beige;
    
    height: 620px;
    margin: auto;
}

.Title--Cuerpo{
    text-align: center;
    margin-top: 10px;
}

.cuerpo--cuerpo
{
    margin-top: 22px;
}